
body {
  background: red;
  background-color: turquoise;
}


div {
  background-color: deepskyblue;
  height: 50px;
}

h2 {
  background-color: plum;
  height: 30px;
  line-height: 1em;
  margin:0px;
}
